<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkunigdwx/image/upload/v1498038807/pde/home.jpg');">
  <div class="banner-content" id="sign-form">
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1498039053/pde/pdelogo.png", width: "150px" %>
    <h2>Rejoins la communauté</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="form-actions btn">
      <%= f.button :submit, "Gaz !", class: "form-button" %>
    </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
