<div>
  <%= render "shared/bannerhome" %>
</div>

<div class="wrapper-red">
  <div class="container text-center homebox">
    <h2><b></b>Brave new world</b></h2>
    <p>A l'antithèse de la mode bikers citadins - fils à papa - hipsters, les Pénis de l'enfer incarnent le dernier bastion de la résistance à deux-roues et sont le symbôle vivant d'une certaine idée de la virilité. Ambassadeurs de génie d'une société visionnaire où coquine va de paire avec gazoline, les Pénis de l'enfer sont notre espoir pour des jours meilleurs.
    </p>
  </div>
</div>

<div class="wrapper-gray">
  <div class="container">
    <div clas="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="text-center padded">
          <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1498042339/pde/altruism.jpg", width: "70px", class: "homeicon" %>
          <h2>Altruisme</h2>
          <p>Il est de notre reponsabilité de montrer la voie.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="text-center padded">
          <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1498042613/pde/virility.jpg", width: "70px", class: "homeicon" %>
          <h2>Virilité</h2>
          <p>On ne sauvera pas le monde avec des pistos.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="text-center padded">
          <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1498042594/pde/cambouis.jpg", width: "70px", class: "homeicon" %>
          <h2>Mécanique</h2>
          <p>On met les mains dans le cambouis.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="text-center padded">
          <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1498042622/pde/moto2.jpg", width: "70px", class: "homeicon" %>
          <h2>Romantisme</h2>
          <p>La femme est le plus bel objet du monde.</p>
        </div>
      </div>
    </div>
  </div>
</div>
